<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<title>{{.Title}}</title>
	</head>
	<body>
		<h1>{{.Title}}</h1>

		{{block "content" .}}
		<div id="content">
			{{ range .Body }}
    			{{ . }}
			{{ end }}
		</div>
		{{end}}
		<script src="../static/js/bootstrap.bundle.js"></script>
	</body>
</html>